<!-- src/app/components/employee-form/employee-form.component.html -->
<div>
  <label>Name</label>
  <input type="text" [(ngModel)]="employee.Name" name="Name" required />

  <label>Position</label>
  <input type="text" [(ngModel)]="employee.Position" name="Position" required />

  <label>Salary</label>
  <input type="number" [(ngModel)]="employee.Salary" name="Salary" required min="1" />

  <label>Department</label>
  <p-dropdown [options]="departments" [(ngModel)]="employee.DepartmentID" optionLabel="DepartmentName"
    optionValue="DepartmentID" placeholder="Select Department"></p-dropdown>

  <button pButton type="button" label="Save" (click)="save()"></button>
</div>